* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ebf1ff;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}
h2{
  font-size: 2rem;
  font-weight:500;
  margin-bottom:0.5em;
}
p {
  margin-bottom: 1em;
}
.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 3em;
  border-radius: 0.5em;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  margin-bottom:3em;
}

.inputs input {
  width: 80% !important;
  padding: 1em 2em;
  border: 1px solid rgba(128, 128, 128, 0.453);
}
.inputs button {
  padding: 1em 2em;
  background-color:#d41d6d;
  color:white;
}

.result{
  font-size:1rem;
  font-weight:300;
  max-width:100%;
  margin-bottom:1em;
}
